<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="/stylessheet/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <form class="flex flex-col gap-5" action="/create" method="post">
            <input name="Name" type="text" placeholder="Name"
                class="px-8 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none" />
            <input name="email" type="text" placeholder="Email"
                class="px-8 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none" />
            <input name="username" type="text" placeholder="Username"
                class="px-8 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none" />
            <input name="password" type="password" placeholder="Password"
                class="px-8 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none" />
            <input type="submit" value="Sign Up"
                class="px-8 py-2 bg-blue-800 border-zinc-800 rounded-md outline-none" />
        </form>

        <!-- Link to sign-in page -->
        <a href="/signin" class="mt-5 bg-blue-800 px-8 py-2 rounded-md inline-block text-white text-center">Sign In</a>
    </div>
</body>

</html>